#top {
	 position:fixed;
	 left:0;
	 top:0px;
	 height:25px;
	 z-index: 999;
	 background-color:#888;
	 width:100%;
	 padding:5px;
}

#side {
	 float: left;
     position:absolute;	
	 top:40px;
	 width:200px;
}

#side img {
	width: 100%;
}

#main {
	position:fixed;
	width:100%;
	top:40px;
}

.echantillon {
	float: right;
	width:200px;
}
