#top {
	 position:fixed;
	 left:0;
	 top:0px;
	 height:25px;
	 z-index: 999;
	 background-color:#888;
	 width:100%;
	 padding:5px;
}

#side {
	 float: left;
     position:absolute;	
	 top:40px;
	 width:200px;
}

#side img {
	width: 100%;
}

#main {
	position:fixed;
	top:40px;
	z-index: -10;
	background-color:#BBB;
	width:100%;
}

.echantillon  p {
	float: right;
	margin-right: 15px;	
}

.echantillon img {
	width: 200px;
}
