body {
	background-color: black;
	font-family: Tahoma;
	font-size: 12px;
}

#top {
	 position: fixed;
	 left: 0;
	 top: 0;
	 height: 25px;
	 z-index: 999;
	 background-color: #888;
	 width: 100%;
	 padding: 5px;
	 color: #6AE8AC;
}

#choix {
	float: left;
} 

#titre {
	text-align: right;
	margin-top: 0px;
	margin-right: 10px;
	font-size: 18px;
	font-weight: bold;
} 

#side {
	 float: left;
     position: fixed;	
	 top: 40px;
	 width: 200px;
	 height: calc(100% - 40px);
	 overflow-y: scroll;
}

#side img {
	width: 100%;
}

#side a img:hover {
    opacity: 0.5;
}

#echantillon {
	position: fixed;
	top: 35px;
	z-index: -10;
	background-color: #BBB;
	left: 215px;
	width: calc(100% - 220px);	
	height: 150px;
}

#infos-echantillon {
	float: right;
}

#infos-echantillon table {
	display: inline-block;
	color: blue;
}

.titre {
	font-weight: bold;
}

#infos-echantillon img {
	height: 150px;
	float: right;
}

#vues {
	height: 150px;
	background-color: #FFF;
	white-space: nowrap;
	overflow-x: scroll;
}

.vignette {
	height: 128px;
	display: inline-block;	
}

#vues img {
	height: 128px;
	padding: 2px;
	display: flex;
}

#vues img:hover {
    opacity: 0.5;
}	

#vue {
	width: calc(100% - 220px);
	position: absolute;
	left: 215px;
	top: 200px;
	z-index: -20;
}

#photo img {
	width: calc(100% - 200px);
	float : left;
    margin: auto;
}

#caracteristiques {
	background-color: white;
	height: 100%;
}

#caracteristiques td {
	vertical-align: top;
}

