<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="server=localhost;uid=id783593_dUirfb;pwd=%]f{P8!UUPF[;Database=id783593_defautheque" name="id783593_defautheque" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
