<div id="echantillon">
  <p>
	<img ng-show="echantillon" ng-src="{{echantillon.Photo}}">
	
	<div id="vues">
		<div ng-repeat="v in vues | filter: vuesEchantillon" class="vignette">
	       <a href="" ng-click="selectVue(v)">
				<img ng-src="{{v.Photo}}">
			</a>
		</div>		
	</div>	
	
  </p>	
</div>	

<div ng-show="vue" id="vue">
	<div id="photo">
		<img ng-src="{{vue.Photo}}">
	</div>
	<div id="caracteristiques">
		<table >
			<tr ng-show="vue.PriseDeVue"><td>Prise de vue</td><td>{{vue.PriseDeVue}}</td></tr>
			<tr ng-show="vue.Source"><td>Source</td><td>{{vue.Source}}</td></tr>
			<tr ng-show="vue.Format"><td>Format</td><td>{{vue.Format}}</td></tr>
			<tr ng-show="vue.Tension"><td>Tension</td><td>{{vue.Tension | number:1}} V</td></tr>
			<tr ng-show="vue.Intensite"><td>Intensité</td><td>{{vue.Intensite | number:1}} A</td></tr>
			<tr ng-show="vue.TempsDePose"><td>Temps de pose</td><td>{{vue.TempsDePose | number:1}} s</td></tr>
			<tr ng-show="vue.Filtre"><td>Filtre</td><td>{{vue.Filtre}}</td></tr>
			<tr ng-show="vue.Ecran"><td>Ecran</td><td>{{vue.Ecran}}</td></tr>
			<tr ng-show="vue.TypeDeFilm"><td>Type de film</td><td>{{vue.TypeDeFilm}}</td></tr>
		</table>
	</div>	
</div>	



