<div id="echantillon">
  <p>
	<img ng-src="{{echantillon.Photo}}">
	
	<div id="vues">
		<div ng-repeat="v in vues | filter: vuesEchantillon">
	       <a href="" ng-click="selectVue(v)">
				<img ng-src="{{v.Photo}}">
			</a>
		</div>	
	</div>	
	
  </p>	
</div>	

<div id="vue">
	<div id="photo">
		<img ng-src="{{vue.Photo}}">
	</div>
	<div id="caracteristiques">
		<table >
			<tr ng-show="vue.Source"><td>Source</td><td>{{vue.Source}}</td></tr>
			<tr ng-show="vue.Format"><td>Format</td><td>{{vue.Format}}</td></tr>
			<tr ng-show="vue.Filtre"><td>Filtre</td><td>{{vue.Filtre}}</td></tr>
			<tr ng-show="vue.Ecran"><td>Ecran</td><td>{{vue.Ecran}}</td></tr>
			<tr ng-show="vue.TypeDeFilm"><td>Type de film</td><td>{{vue.TypeDeFilm}}</td></tr>
		</table>
	</div>	
</div>	



